<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13455900632-ofmji9rd5nt912l2b82h6n0npc8bu471.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13455900632-ofmji9rd5nt912l2b82h6n0npc8bu471</string>
	<key>API_KEY</key>
	<string>AIzaSyDpQemvHKR6RwYoXKQiZ-IfjIXR1UdntmY</string>
	<key>GCM_SENDER_ID</key>
	<string>13455900632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reservasTheo</string>
	<key>PROJECT_ID</key>
	<string>reservapp-a2ad7</string>
	<key>STORAGE_BUCKET</key>
	<string>reservapp-a2ad7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13455900632:ios:c9a4f633070f688a557cad</string>
</dict>
</plist>